[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "<3,>=2.31"
pyyaml = "<7,>=6.0"
pydantic = ">=1.8,<2"

[dev-packages]
types-requests = ">=2.31,<3"
types-pyyaml = "<7,>=6.0"
pytest = ">=7.2,<8"
jupyterlab = "<4,>=3.2.8"
black = ">=24.3.0,<25"
pycodestyle = "<3,>=2.8"
pydocstyle = ">=6.1,<7"
mypy = ">=1.0,<2"

[requires]
python_version = "3.12"

[pipenv]
allow_prereleases = true
