[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "~=2.26"
PyYAML = "~=6.0"
pydantic = "~=1.8"
mypy = "~=0.900"

[dev-packages]
types-requests = "~=2.26"
types-PyYAML = "~=6.0"
pytest = "~=6.2"
jupyterlab = "~=3.2.8"
black = "~=21.4b0"
pycodestyle = "~=2.8"
pydocstyle = "~=6.1"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
